*,
*::before,
*::after {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    width: 1440px;
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}



.container { 

    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    }
   

    .img{
        display: block;
       }


.top {

    border-bottom: 1px solid #e7e9fc; 
  
 
}

.top-container{
    display: flex;
   margin-top: 24px; 
   

  }
  

.top-nav{
display: flex;
align-items: center;
justify-content:center;


  }

/***** LOGO ******/
 
  

   .logo { 
        font-family:"Raleway", sans-serif;
         font-weight:700;
         font-size:18px;
         line-height:1.17;
      
         color:#4d5ae5;
         letter-spacing : 0.03em;
         margin-right: 76px;
        text-transform: uppercase;
      
        text-decoration: none;
       
       
    }   
    


.span-logo {
    color:#2e2f42;
        
    
} 
/********************* MENU *****************-**/

.top-menu{
    
    display: flex;
    gap: 40px;

}



 .menu{
    font-weight: 500; 
    font-size:16px;
    line-height:1.5;
    letter-spacing : 0.02em;
    color:#2e2f42;
    padding: 24px 0;
    
    
}

.top-addr .telephone,
.top-addr .mail,
.top-nav .menu  
{
    
    text-decoration: none; 
     
    
}


body  .container li
{
  
     list-style-type: none;
    
}




.top-nav .menu:hover,
.top-nav .menu:focus

{
    color:#3c64db  
  
}




.top-addr { 
    font-style:normal;
    display:flex;
    margin-left: auto;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    


   
}

.top-addr-list{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    

}


.top-addr  :hover,
.top-addr :focus {
   
text-decoration: underline;
    }

    
   
   /************** HERO İMAGE **************/
.hero-image-section{

background-color: #2e2f42;
padding: 188px 0;


}

.hero-image {
   
    flex-direction:column; 
    align-items: center;
    justify-content: center;

    display:flex;
}





.hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color:#Ffffff;
    
}
.hero-button{
    min-width: 169px;
    height: 56px;
    padding: 16px 32px 16px 32px;
    gap: 10px;
    border-radius: 4px;
    opacity: 0px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px #00000026;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;

    cursor: pointer;
    display: block;
    border: none;
    color: #e7e9fc;
    }
    

.hero-button:hover,
.hero-button:focus {
    background-color:#404BBF;
}
/*************** SECTION 2  ----- ADVANTAGES **************** */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  

  .advantages-section  {

    
   
        display: flex;
        align-items: center;
        justify-self: center;
        padding: 120px 0;
    flex-direction: row;
   
    }

.advantages-list {
 
  
    display: flex;
    gap: 24px;
  

}




.advantages-list-item{  
    
   width: calc((100% - 72px) / 4);
   flex-basis: calc((100% - 72px) / 4);
}

.adv .advantages-name {
    
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing : 0.02em;
    color:#2e2f42; 
    margin-bottom: 8px;


}

.adv .advantages-text {
   
    color:#434455; 
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;


} 


/*************************** SECTION 3 ----- OUR TEAM *************************/

  
 .our-team-section {
   
background-color: #F4F4FD;
padding: 120px 0;
flex-direction: center;
display: flex;
text-align: center;



}

.our-team-persons {

display: flex;
gap: 24px;


}

.our-team-person-profile {
width: calc((100% -72 ) / 4);
flex-basis: calc((100% -72 ) / 4);
background: #FFFFFF;
box-shadow: 0px 2px 1px 0px #2E2F4214;

box-shadow: 0px 1px 1px 0px #2E2F4229;

box-shadow: 0px 1px 6px 0px #2E2F4214;

border-radius: 0px 0px 4px 4px;

}

.our-team-title {
   
margin-bottom: 72px;
font-size: 36px;
line-height: 1.11;
letter-spacing : 0.02em;
text-transform: capitalize;
color:#2e2f42;



} 

img{
  display: block;  
}


.our-team-content {

padding: 32PX 0;

}


.our-team-name { 
   
font-weight:500;
font-size: 20px;
line-height: 1.2;
letter-spacing : 0.02em;
color:#2e2f42;
text-align: center;
margin-bottom: 8px;
}   

.our-team-jop {

line-height: 1.5;
font-size:16px;
text-align: center;
letter-spacing : 0.02em;
color:#434455;

}
/************************** SECTION 4  ***  OUR PORTFOLIO   **********************/
.our-portfolio {
   
 padding: 120px 0;

} 

.our-portfolio-title {  

    margin-bottom: 72px;
    font-size: 36px;
    color: #2e2f42;
    line-height: 1.11;
    text-align: center;
    letter-spacing : 0.02em;
    text-transform: capitalize;
    
      } 



 .service-list {

    flex-wrap: wrap;
    display: flex;
    row-gap: 48px;
    column-gap: 24px;
    

}



.service-profile {
 
    width: calc((100% - 48px) / 3);
    
       }

.service-content{
    border-top: none;
    border: 1px solid #e7e9fc;
    padding: 32px 16px; 
    border-style: solid;
    border-color: #E7E9FC;


}


.service-list .service-app-title {
    font-weight:500; 
    font-size:20px;
    letter-spacing : 0.02em;
    color:#2e2f42;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 8px;
}






.service-list .service-app-text {
  
    font-size: 16px;
    line-height: 1.5;
  
    color:#434455;
   
  
   










}
/****************** FOOT SECTION ************************/

.foot-section  {

    padding: 100px 0;
    background-color:#2e2f42;
  
}




.foot-text { 


letter-spacing : 0.02em;
max-width: 264px;
color:#F4F4FD;
margin-top: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;

 }


 .page-logo { 
    font-family:"Raleway", sans-serif;
    font-weight:700;
    font-size:18px;
    line-height:1.17;
    text-transform: uppercase;
    color:#4d5ae5;
    letter-spacing : 0.03em;
    text-decoration: none;
   

}  

.footer-item a{
    display: inline-block;
    margin-bottom: 16px;
   
}



 .foot-section .spancolor { 
color:#F4F4FD;
} 
;